
header {
    background-color: lightgray;
    position: fixed;
    height: 30px;
    width: 100%;
}
nav {
    background-color: green;
    grid-column: 1 / 3;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    background-color: aqua;
}

article {
    background-color: red;
}

footer {
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 3;
}

div#content {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
}
.dropdown:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    background-color: white;
    z-index: 1;
    min-width: 100px;
    padding: 5px;
}


.dropdown-content a {
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
